/* Global Setting */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-dark-orange: #FF8C00;
    --color-black: #000000;

    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}

/* Universal Tag */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding: 0;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
font-size: var(--font-regular);
font-weight: var(--weight-regular);
color: var(--color-black);
margin: 8px 0;
}

p {
font-size: var(--font-regular);
font-weight: var(--weight-regular);
color: var(--color-black);
margin: 4px 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}



/* Navbar */

#navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
}

#navbar.navbar--dark {
    background-color: var(--color-orange);
    padding: 8px;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

ul.navbar__menu {
    display: flex;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
    border: 1px solid var(--color-white);
    background-color: var(--color-dark-orange);
}

.navbar__toggle-btn {
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}



/* Home */
#home {
    background-image: url('imgs/background-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px;
    padding-top: 100px;
    text-align: left;
}

.home__avatar{
    width: 350px;
    height: 280px;
    border: solid 2px var(--color-light-white);
}

.home__title, .home__description{
    color:var(--color-white);
}

.home__contact{
    color:var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    padding: 8px;
}

.home--transparent--middle {
    transition: all 4s ease;
    opacity: 0.5;
}

.home--transparent--end {
    opacity: 0;
}




/* Common Section */
.section {
    padding: 50px;
    text-align: center;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

/* About Me */
.about__majors{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    padding: 0 150px;
}

.major__icon {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    font-size: 72px;
    line-height: 170px;
    margin: auto;
    margin-bottom: 16px;
    border: 1px solid var(--color-dark-white);
}

.major__icon:hover {
    color: var(--color-orange);
    transition: all var(--animation-duration) ease;
}


/* Skill */
#skill {
    background-color: var(--color-yellow);
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    margin-top: 20px;
    color: var(--color-light-white);
    font-size: var(--font-small);
}

.skillset__left{
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skillset__right{
    flex-basis: 40%;
}

.skillset__title{
    color: var(--color-light-white);
    margin-bottom: 15px;
}

.skill {
    margin-bottom: 15px;
}

.skill__description{
    display: flex;
    justify-content: space-between;
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value {
    height: 3px;
    background-color: var(--color-orange);
}

.tools{
    background-color: var(--color-grey);
    padding: 20px 0;
}

.etc {
    padding: 20px 0;
}


/* Work */

#work h3 {
    font-weight: var(--weight-semi-bold);
    margin-bottom: 20px;
}

.category__btn{
    padding: 8px 48px;
    border: solid 1px var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
}

.category__btn.active,
.category__btn:hover{
    border-color: var(--color-orange);
    border-width: 2px;
}

.category__count{
    display: inline-block;
    border-radius: 50%;
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.category__btn.active .category__count,
.category__btn:hover .category__count{
    background-color: var(--color-orange);
}

.work__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(10px);
}

.project {
    margin: 2px;
    position: relative;
}

.project.invisible {
    display: none;
}

.project__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    transform: translateY(10px);
    opacity: 0;
}

.project:hover .project__description{
    opacity: 0.8;
    transform: translateY(0);
    transition: all var(--animation-duration) ease;
}

.project__description h3{
    color: var(--color-white);
}

.project__description h3:after{
    content: ' ';
    display: block;
    position: relative;
    left: 50%;
    margin-left: -12px;
    margin-top: 8px;
    width: 25px;
    height: 2px;
    background-color: var(--color-dark-white);
}


/* Testimonial */
#testimonial {
    background-color: var(--color-light-white);
}

.testimonials {
    margin: 40px;
}

.testimonial {
    display: flex;
    margin: 32px 0;
}

.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimonial__avatar:nth-child(odd){
    margin-right: 12px;
}

.testimonial__avatar:nth-child(even){
    margin-left: 12px;
}

.testimonial__speech-bubble{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
}


/* Contact */
#contact{
    background-color: var(--color-orange);
}

.contact__links {
    margin: 20px 0;
}

.contact__links i {
    font-size: var(--font-large);
}

.contact__links i:hover {
    transition: all var(--animation-duration) ease;
    transform: scale(1.2);
}


/* Responsive */
@media screen and (max-width: 768px) {
    .navbar__toggle-btn {
        display:block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
    }

    .navbar__menu {
        width: 100%;
        display: none;
    }


    .about__majors {
        flex-direction: column;
    }

    .major {
        margin-bottom: 30px;
    }


    .skillset {
        flex-direction: column;
    }

    .project {
        flex-grow: 1;
    }
}


/* Arrow up */
.arrowup__btn{
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: var(--font-medium);
    color: var(--color-white);
    opacity: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-orange);
}